HOST=0.0.0.0
PORT=1337
APP_KEYS=key1,key2
API_TOKEN_SALT=salt_key
ADMIN_JWT_SECRET=secret
JWT_SECRET=secret

DB_CLIENT='sqlite'
DB_FILENAME=".tmp/data.db"


// PROD
DB_CLIENT='postgres'
DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_NAME='name'
DATABASE_USERNAME='postgres'
DATABASE_PASSWORD='0000'

